<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/imgaes/png/required-mask.png" alt="">
        <p>Obrigátório</p>
      </div>
      <div class="legend-image">
        <img src="/assets/imgaes/png/recommended-mask.png"/>
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/imgaes/png/required-towel.png"/>
        <p>Obrigátório</p>
      </div>
      <div class="legend-image">
        <img src="/assets/imgaes/png/recommended-towel.png"/>
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/imgaes/png/partial-fountain.png"/>
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img src="/assets/imgaes/png/not_allowed-fountain.png"/>
        <p>Proibido</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/imgaes/png/allowed-lockerroom.png"/>
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img src="/assets/imgaes/png/partial-lockerroom.png"/>
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img src="/assets/imgaes/png/not-allowed-lockerroom.png"/>
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
